<div class="container-fluid">
    <div class="row">
        <div class="packs p-0">
            <table class="table table-hover table-sm" style="color: #ffffff;">
                <tbody>
                <tr ng-repeat="pack in ftbPacks track by $index" class="">
                    <th scope="row"><img width="150" ng-src="{{pack.image}}"></th>
                    <td class="align-middle"><span>{{pack.name}}</span></td>
                    <td class="align-middle pr-5">{{pack.summary}}</td>
                    <td class="align-middle pr-5"><a href="#" class="btn btn-primary">Install</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>