<div class="header">
    <div class="col-12">
        <div class="row">
            <div class="float-right">
                <a href="#!ftbPacks" class="btn btn-lg btn-outline-primary">Browse FTB Modpacks</a>
            </div>
        </div>
        <div class="row">
            <a href="#!allPacks" class="btn btn-lg btn-outline-primary">Browse All Modpacks</a>
        </div>
    </div>

</div>
<div class="text-center" style="color: #ffffff;">
    <h1>Under Construction</h1>
    <h1>No Instances Installed</h1>
</div>